openapi: 3.1.0
info:
  title: PostSider API
  description: >
    Scheduling and analytics endpoints for AI agents, mirroring PostSider's
    MCP server tools. Authenticate with your org API key (Settings > API).
  version: "1.0.0"
servers:
  - url: https://api.postsider.com
    description: PostSider Cloud
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: >
        Your org API key, e.g. "ps_...". Raw value, no "Bearer " prefix.
        Create one in Settings > API (it starts with ps_ and is shown once).
  schemas:
    PostBody:
      type: object
      required: [type, date, shortLink, tags, posts]
      properties:
        type:
          type: string
          enum: [draft, schedule, now]
        date:
          type: string
          format: date-time
          description: ISO 8601 UTC. Required even for drafts.
        shortLink:
          type: boolean
        tags:
          type: array
          items:
            type: object
            properties:
              value: { type: string }
              label: { type: string }
        posts:
          type: array
          minItems: 1
          items:
            type: object
            required: [integration, value, settings]
            properties:
              integration:
                type: object
                required: [id]
                properties:
                  id: { type: string }
              value:
                type: array
                items:
                  type: object
                  required: [content, image]
                  properties:
                    content: { type: string }
                    image:
                      type: array
                      items:
                        type: object
                        properties:
                          id: { type: string }
                          path: { type: string }
              firstComment: { type: string }
              settings:
                type: object
                additionalProperties: true
    PostStatus:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [draft, schedule]
paths:
  /public/v1/integrations:
    get:
      operationId: listChannels
      summary: List the connected channels for this organization. Returns each channel's id, name and platform. Use the returned id as posts[].integration.id when creating a post.
      parameters:
        - name: group
          in: query
          required: false
          schema: { type: string }
          description: Optional channel-group id to filter by.
      responses:
        '200':
          description: Connected channels.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
  /public/v1/overview:
    get:
      operationId: getAgencyOverview
      summary: Organization-wide operational overview (clients, channels, queue, drafts, errors, pending approvals)
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 30 }
      responses:
        '200':
          description: Agency overview.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/customers/{customerId}/report:
    get:
      operationId: getCustomerReport
      summary: Customer-scoped operational report
      parameters:
        - name: customerId
          in: path
          required: true
          schema: { type: string }
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 30 }
      responses:
        '200':
          description: Customer report.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/groups:
    get:
      operationId: listGroups
      summary: List configured channel groups (sets of channels published to together)
      responses:
        '200':
          description: Channel groups.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
  /public/v1/is-connected:
    get:
      operationId: isConnected
      summary: Whether the organization has at least one connected, enabled channel
      responses:
        '200':
          description: Connection status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected: { type: boolean }
  /public/v1/posts:
    post:
      operationId: createPost
      summary: Create, schedule, or immediately publish a post across one or more channels
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: >
            Stable key for safe retries. Reusing it with the same request
            returns the original result instead of creating a duplicate.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PostBody' }
      responses:
        '200':
          description: Post created.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
    get:
      operationId: listPosts
      summary: List posts in a date range
      parameters:
        - name: startDate
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: endDate
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: customer
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Matching posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items: { type: object, additionalProperties: true }
  /public/v1/posts/{id}:
    get:
      operationId: getPost
      summary: Get full details for a post, including current state and publish error
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Post details.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
    delete:
      operationId: deletePost
      summary: Permanently delete a scheduled or draft post
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Post deleted.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/posts/{id}/status:
    put:
      operationId: updatePostStatus
      summary: Move a post between draft and schedule
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PostStatus' }
      responses:
        '200':
          description: Post status updated.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/find-slot/{id}:
    get:
      operationId: findSlot
      summary: Get the next free scheduling slot for a channel, per its posting queue
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Next free slot.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/upload-from-url:
    post:
      operationId: uploadMediaFromUrl
      summary: Download media from a URL into the media library
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  description: URL of the image or video to download into the media library
      responses:
        '200':
          description: Media object created from the URL.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/posts/{id}/missing:
    get:
      operationId: getPostMissingFields
      summary: Get per-channel validation problems for a post
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Validation problems, if any.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/posts/{id}/request-approval:
    post:
      operationId: requestApproval
      summary: Send a draft post into the human approval queue
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Approval requested.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/posts/{id}/approval:
    get:
      operationId: getApprovalStatus
      summary: Check the approval status of a post sent for human review
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Approval status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/analytics/post/{postId}:
    get:
      operationId: getPostAnalytics
      summary: Performance analytics for a single post over the last N days
      parameters:
        - name: postId
          in: path
          required: true
          schema: { type: string }
        - name: date
          in: query
          required: false
          schema: { type: integer, default: 7 }
          description: Number of days to look back.
      responses:
        '200':
          description: Post analytics.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/analytics/{integration}:
    get:
      operationId: getChannelAnalytics
      summary: Account-level analytics for a connected channel
      parameters:
        - name: integration
          in: path
          required: true
          schema: { type: string }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        '200':
          description: Channel analytics.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/notifications:
    get:
      operationId: getNotifications
      summary: List recent notifications for the organization (failures, reconnect needed)
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Notifications.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
