openapi: 3.1.0
info:
  title: PostSider Agent Bridge
  description: >
    Scheduling, connector, and inbound-content endpoints for AI agents.
    Authenticate with an agent token (Settings > Developers > Agent Tokens).
  version: "1.0.0"
servers:
  - url: https://api.postsider.com
    description: PostSider Cloud
security:
  - agentToken: []
components:
  securitySchemes:
    agentToken:
      type: apiKey
      in: header
      name: Authorization
      description: >
        Raw agent token value, e.g. "agt_...". No "Bearer " prefix.
  schemas:
    PostBody:
      type: object
      required: [type, date, shortLink, tags, posts]
      properties:
        type:
          type: string
          enum: [draft, schedule, now]
        date:
          type: string
          format: date-time
          description: ISO 8601 UTC. Required even for drafts.
        shortLink:
          type: boolean
        tags:
          type: array
          items:
            type: object
            properties:
              value: { type: string }
              label: { type: string }
        posts:
          type: array
          minItems: 1
          items:
            type: object
            required: [integration, value, settings]
            properties:
              integration:
                type: object
                required: [id]
                properties:
                  id: { type: string }
              value:
                type: array
                items:
                  type: object
                  required: [content, image]
                  properties:
                    content: { type: string }
                    image:
                      type: array
                      items:
                        type: object
                        properties:
                          id: { type: string }
                          path: { type: string }
              firstComment: { type: string }
              settings:
                type: object
                additionalProperties: true
    Connector:
      type: object
      properties:
        identifier: { type: string }
        label: { type: string }
        iconUrl: { type: string }
        capabilities:
          type: array
          items: { type: string, enum: [PUBLISH, SCHEDULE, ANALYTICS, SOURCE] }
        requiredScopes:
          type: array
          items: { type: string }
        authorized: { type: boolean }
    ErrorBody:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            retryAfter: { type: integer }
paths:
  /public/v1/integrations:
    get:
      operationId: listChannels
      summary: List the connected channels for this organization. Returns each channel's id, name and platform. Use the returned id as posts[].integration.id when creating a post.
      responses:
        '200':
          description: Connected channels.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
  /public/v1/posts:
    post:
      operationId: createPost
      summary: Create, schedule, or immediately publish a post across one or more channels
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: >
            Stable key for safe retries. Reusing it with the same request
            returns the original result instead of creating a duplicate.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PostBody' }
      responses:
        '200':
          description: Post created.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
    get:
      operationId: listPosts
      summary: List posts in a date range
      parameters:
        - name: startDate
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: endDate
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: customer
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Matching posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items: { type: object, additionalProperties: true }
  /public/v1/find-slot/{channelId}:
    get:
      operationId: findSlot
      summary: Get the next free scheduling slot for a channel, per its posting queue
      parameters:
        - name: channelId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Next free slot.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/upload-from-url:
    post:
      operationId: uploadMediaFromUrl
      summary: Download media from a URL into the media library
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  description: URL of the image or video to download into the media library
      responses:
        '200':
          description: Media object created from the URL.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/posts/{id}/missing:
    get:
      operationId: getPostMissingFields
      summary: Get per-channel validation problems for a post
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Validation problems, if any.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/posts/{id}/request-approval:
    post:
      operationId: requestApproval
      summary: Send a draft post into the human approval queue
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Approval requested.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/posts/{id}/approval:
    get:
      operationId: getApprovalStatus
      summary: Check the approval status of a post sent for human review
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Approval status.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/connectors:
    get:
      operationId: listConnectors
      summary: Full connector catalog with authorization status for this workspace
      responses:
        '200':
          description: Connector list.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Connector' }
  /public/v1/connectors/{id}/authorize:
    post:
      operationId: authorizeConnector
      summary: Start the OAuth flow for a connector, or confirm it is already authorized
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: "Either { authorized: true } or { authorized: false, url }."
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorized: { type: boolean }
                  url: { type: string }
  /public/v1/connectors/{id}/analytics:
    get:
      operationId: getConnectorAnalytics
      summary: Analytics for a connector (requires ANALYTICS capability and the connector to support it)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        '200':
          description: Analytics data, or an ErrorBody if unsupported/unauthorized.
          content:
            application/json:
              schema:
                oneOf:
                  - { type: object, additionalProperties: true }
                  - { $ref: '#/components/schemas/ErrorBody' }
  /public/v1/inbound/subscriptions:
    get:
      operationId: listInboundSubscriptions
      summary: List all active webhook subscriptions for the current workspace
      responses:
        '200':
          description: List of active subscriptions.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }
    post:
      operationId: createInboundSubscription
      summary: Create a new webhook subscription for one or more inbound sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sources, webhookUrl]
              properties:
                sources:
                  type: array
                  items: { type: string }
                  description: One or more SOURCE-capable connector identifiers
                webhookUrl:
                  type: string
                  description: HTTPS URL that will receive webhook events
      responses:
        '200':
          description: Subscription created. Includes secret field (whsec_<40 chars>) shown only once.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /public/v1/inbound/{source}:
    get:
      operationId: pullInboundContent
      summary: Pull a page of content from a SOURCE-capable connector (requires SOURCE capability)
      parameters:
        - name: source
          in: path
          required: true
          schema: { type: string }
        - name: cursor
          in: query
          required: false
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200':
          description: Page of inbound items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { type: object, additionalProperties: true }
                  nextCursor: { type: string, nullable: true }
